.featureCard {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  flex-direction: column;
  border-radius: 10px;
  -webkit-transition: box-shadow .3s;
  transition: .2s,box-shadow .3s;
  -ms-flex-align: center;
  align-items: center;
}

.left {
  margin-bottom: 40px;
  box-shadow: 0 0 28px 1px rgb(0 88 88 / 13%);
  text-align: left;
}

.declaration {
  padding: 0 30px 20px;
  -webkit-flex: 0 400px;
}

.darkPurple {
  background-color: var(--ternary-color);
}

.moveupFeatureIcon {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.headingBox {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Extatica,sans-serif;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.white {
  color: var(--white-color);
}

.centerAlign {
  margin-bottom: 20px;
  font-family: 'Nunito Sans',sans-serif;
  text-align: center;
}

.textGrey {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.featureCard:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}