.container {
  overflow: hidden;
  padding-top: 3%;
}

.subContainer {
  display: flex;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 auto;
  border-radius: 30px;
  background-color: var(--white-color);
  box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.3s;
  text-align: center;
  width: 44%;
  padding: 0px 0px 29px;
}

.containerDivInfo {
  display: flex;
  flex-direction: column;
}

.plan {
  background: var(--ternary-color);
  color: var(--white-color);
  display: flex;
  padding: 34px 50px 45px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.containerPrice {
  background: var(--primary-color);
  padding: 26px;
  color: var(--black-color);
  display: flex;
  margin-top: -20px;
  justify-content: center;
  align-items: flex-start;
  line-height: 44px;
}

.pricingCurrency {
  margin-right: 6px;
  color: #7a8292;
  font-size: 27px;
  line-height: 20px;
}

.moveUpCents {
  font-size: 30px;
  line-height: 32px;
  font-weight: 600;
}

.containerListItems {
  margin: 34px 40px;
  text-align: left;
}