.mainStyleInput {
  display: inline-block !important;
  font-size: 14px !important;
  color: var(--black-color) !important;
  border: 1px solid var(--border-input-color) !important;
  transition: all .3s !important;
}

.mainStyleInput:hover {
  border: 2px solid var(--ternary-color) !important;
  transition: all .3s !important;
}

.inputXl {
  width: 450px;
}

.inputMd {
  height: 40px;
  border-radius: 4px;
  padding: 6.5px 11px;
  width: 400px;
}

.inputSm {
  width: 300px;
}