.formColumn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wCol {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.wCol4 {
  width: 100%;
}

.textHeader {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-top: 0px;
}

.formTextField {
  border: 1px solid rgba(132,124,124,.24);
  border-radius: 5px;
  font-family: 'GothamRounded';
}

.wInput {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}