.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0% 70px;
  margin: 40px;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background: linear-gradient(90deg,var(--primary-color) 30%, var(--secondary-color)100%);
}

.containerImg {
  margin-right: 40px;
  margin-top: 40px;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  margin-left: 40px;
}