.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 44px;
}

.cardContent {
  display: flex;
  width: 67%;
  align-self: center;
  flex-direction: column;
  padding: 22px 30px 33px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.containerClose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 35px 2px;
}


.containerHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.titleSignUp {
  margin: 0px;
  padding: 0px;
}

.subHeader {
  display: flex;
  align-self: center;
  align-items: center;
}

.containerForm {
  display: flex;
  width: 100%;
}

.signUpWithForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px 20px;
}

.signUpWithApps {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.countText {
  margin: 15px 5px 0px;
}

.linkSignIn {
  margin: 15px 5px 0px;
  text-decoration: none;
  font-size: 20px;
}

.inputs {
  height: 17%;
  border-radius: 4px;
  padding: 6.5px 11px;
  width: 100%;
  margin: 5px;
}

.inputs:hover {
  border-bottom: 1px solid var(--primary-color);
  box-shadow: var(--primary-color) 0px 0px 0px 1px;
}

.recaptcha {
  padding: 10px 0;
  align-self: center;
  margin-bottom: 8px;
  display: flex;
}

.buttonSignUp {
  align-self: center;
  margin-bottom: 25px;
}


.buttonSignUpWithApp {
  margin: 10px 0px;
}