.navigation {
  display: flex !important;
  background-color: var(--bar-background);
  justify-content: space-around !important;
  height: 75px;
  box-shadow: 1px 0 10px 0 rgb(89 98 115 / 20%);
  margin-bottom: 0;
  width: 100%;
}

.navImage {
  align-self: center;
}

.navContainer {
  display: flex;
  align-items: center;
}