.dividerCurves {
  width: 100%;
  height: 100px;
  margin-top: 0;
  background-position: 50% 50%;
  -webkit-transform: translate3d(0,0,200px);
  transform: translate3d(0,0,200px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  top: -75px;
}

.section {
  margin-top: -2px;
  padding: 100px 40px 10px;
}

.grade {
  background-color: var(--page-background);
}

.noPaddingTop {
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--page-background);
}

.wrapper {
  z-index: auto;
  width: 100%;
  max-width: 1220px;
  margin: 20px auto;
  padding-bottom: 0;
}

.conoceMas {
  margin-top: -100px;
}

.promesaDeServicio {
  display: flex;
  max-width: 100%;
  margin-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading {
  color: var(--secondary-color) !important;
  margin-bottom: 15px;
}

.noMargin {
  color: var(--ternary-color) !important;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.features {
  display: flex;
  width: 105%;
  margin-bottom: -32px;
  flex-wrap: wrap;
}