.questionBlock {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mainQuestionTitle {
  margin-bottom: 8px;
  line-height: 20px;
  text-align: left;
}

.answerIcon {
  margin: 0px 23px auto 0px;
}

.questionAndDescription {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.answerSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionDescription {
  text-align: left;
  font-size: 15px !important;
}

.radio {
  text-align: left;
}

.wRadio {
  display: block;
  margin-bottom: 5px;
}

.wFormLabel{
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
}

.logoAndQuestion {
  display: flex;
  flex-direction: row;
}