.container {
  display: flex;
  min-height: 52vh;
  background-color: #995151;
  background-image: -webkit-gradient(linear,right top,left top,from(var(--primary-color)),to(var(--secondary-color)));
  background-image: linear-gradient(270deg, var(--primary-color), var(--ternary-color));
  background-clip: padding-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: none;
  object-fit: none;
}

.section {
  position: relative;
  overflow: visible;
  width: 100%;
  margin-top: -2px;
  padding: 100px 40px 10px;
  justify-content: center;
  text-align: left;
}

.servicesTextBox {
  margin-bottom: 20px;
  padding-right: 40px;
}

.wrapper {
  z-index: auto;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding-bottom: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-bottom: 20px;
  font-family: var(--font-family);
  color: var(--white-color);
  line-height: 1.1;
  text-align: center;
}

.textBody {
  margin-bottom: 0;
  font-family: var(--font-family);
  color: var(--white-color);
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
}

.containerButton {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}