.mainText {
  font-family: var(--font-family);
  text-align: center;
  color: var(--primary-grey-color);
}

/* sizes */
.textXxxl {
  font-size: var(--font-size-xxxl);
  line-height: 1.1;
}

.textXxl {
  font-size: var(--font-size-xxl);
  line-height: 1.1;
}

.textXl {
  font-size: var(--font-size-xl);
}

.textMd {
  font-size: var(--font-size-md);
  line-height: 28px;
}

.textSm {
  font-size: var(--font-size-sm);
  line-height: 23px;
}

.textXs {
  font-size: var(--font-size-xs);
  line-height: 20px;
  letter-spacing: 0;
}

.textXxs {
  font-size: var(--font-size-xxs);
  line-height: 14px;
  text-decoration: none;
}

.textXxxs {
  font-size: var(--font-size-xxxs);
}

/* weights */
.textW400 {
  font-weight: 400;
}

.textW500 {
  font-weight: 500;
}

.textW600 {
  font-weight: 600;
}

.textW700 {
  font-weight: 700;
}
