.sectionHome {
  position: relative;
  display: flex;
  overflow: visible;
  padding: 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heading {
  color: var(--secondary-color);
  margin-top: 50px;
  width: 60%;
}

.featureCards {
  display: flex;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: center;
  grid-column-gap: 16px;
}