.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: var(--secondary-color);
  margin-top: 50px;
  width: 60%;
}

.featureCards {
  display: flex;
  grid-column-gap: 16px;
  margin-bottom: 10px;
}