.bigDivider {
  display: flex;
  width: 150px;
  height: 4px;
  margin-top: 35px;
  margin-bottom: 18px;
  justify-content: center;
  border: 0 var(--main-black-color);
  background-color: var(--ternary-color);
}