:root {
  --page-background: #f8f8f8;
  --white-color: #fff;

  --primary-color: #91EAE4;
  --secondary-color: #86A8E7;
  --ternary-color: #7F7FD5;

  --primary-text-color: #2c3340;
  --ternary-text-color: #393f4aae;
  --nav-text-color: #222;

  --black-color: rgba(0, 0, 0, 0.65);

  --border-input-color: #d9d9d9;
}