@import './colors.scss';
@import './theme.scss';

// Champagne Limousines
@font-face {
  font-family: 'ChampagneLimousines';
  src: url('../assets/fonts/champagne_limousines/Champagne & Limousines.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ChampagneLimousines';
  src: url('../assets/fonts/champagne_limousines/Champagne & Limousines Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

// Gotham Rounded
@font-face {
  font-family: 'GothamRounded';
  src: url('../assets/fonts/gotham-rounded/GothamRoundedLight_21020.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('../assets/fonts/gotham-rounded/GothamRounded-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('../assets/fonts/gotham-rounded/GothamRoundedBold_21016.ttf');
  font-weight: 600;
  font-style: normal;
}


body {
  margin: 0px;
  background-color: var(--white-color);
  font-family: 'GothamRounded';
  font-size: var(--font-size-md);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ChampagneLimousines';
}

.layout-container {
  .nav-items {
    border: 0px;
    display: inline-block;
  }
  .p-submenu-icon.pi.pi-angle-down {
    display: none;
  }
  .p-menuitem-text {
    overflow: visible;
    font-family: Extatica,sans-serif;
    letter-spacing: -.04px;
    color: var(--ternary-grey-color);
    font-size: 14px;
    line-height: 20px;
  }
}

li.pt-list {
  list-style: none !important;
}

li.pt-list::before {
  content: "\00BB";
  color: var(--white-color);
  margin-right: 0.7rem;
  font-size: 25px;
  font-weight: 600;
}

li.pt-list.pro::before {
  color: var(--ternary-color);
}

li.pt-list.sublist::before {
  content: "\1405";
  font-size: 15px;
  font-weight: 600;
}